.mainContainer {
    width: 90vw;
    height: 652px;
    /* background-color: aquamarine; */
    
}

.hiddenContainer {
    width: 90vw;
    height: 602px;
    position: absolute;
    background-color: #EEEEEE;
    margin-top: 50px;
    z-index: 0;
    border-radius: 10px;
}


.banner {
    position: absolute;
    padding-left: 15px;
    z-index: 2;

}

#underLine {
    text-decoration: underline;
    color: #FC8A06;
}

.appLogo img{
    height: 41px;
    width: 199px;
}

.appLogo span {
    font-family: 'Poppins';
    font-size: 33px;
    font-weight: 900;
    -webkit-text-stroke: 3px #232020;
    letter-spacing: 2px;
    
}

.rightDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 206px;
    z-index: 1;
    right: 100px;
    gap: 25px;
}

.rightDiv h1 {
    height: 69px;
    width: 530px;
    background-color: #03081F;
    line-height: 66px;
    padding-left: 140px;
    border-radius: 35px;
    color: #ffffff;
}

.bothButton {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.downloadButton {
    width: 189px;
    height: 61px;
    background: #000000;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    display: flex;
    align-items: center;
}

#bannerM {
    display: none;
}

.icon {
    color: #ffffff;
    display: flex;
    top : 5px;
    height: 40px;
    width: 50px;
    margin-right: 5px;
}

#playStoreIcon {
    width: 40px;
    margin-right: 16px;
}

.downloadButton {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
}

@media (max-width: 600px) {

    .mainContainer {
        width: 90vw;
        height: auto;
        background-color: #E0E1DC;
        
    }
    .hiddenContainer {
        display: none;
    }

    .banner {
        display: none;
       
    }

    #bannerM {
        display: block;
    }

    #bannerM img {
        width: 90vw;
    }

    .rightDiv {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        z-index: 0;
        gap: 25px;
    }

    .rightDiv h1 {
        display: flex;
        justify-content: center;
        background: none;
        height: 69px;
        width: 70vw;
        font-size: 25px;
        line-height: 69px;
        padding-left: 0px;
        color: #0e0d0d;
    }

    .downloadButton {
        width: 146px;
        height: 52px;
        background: #000000;
        border-radius: 5px;
        border: none;
        color: #ffffff;
        display: flex;
        align-items: center;
    }

    .buttonName h3{
        font-size: 12px;
    }

    .buttonName h3{
        font-size: 12px;
    }

}