*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
}

.mobileNavbar {
    display: none;
}

.topMostDiv {
    width: 90vw;
    height: 60px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    border: 1px solid #0000001A;
    
}

.flexedRow {
    display: flex;
    margin-left: 20px;
}

#offers {
    display: flex;
    width: 70vw;
    justify-content: space-between
} 

.highlight {
    text-decoration: underline;
    color: #FC8A06;
    font-weight: 700;
    margin-right: 91px;

}

.cartDiv {
    display: flex;
    justify-content: end;
}

.cartButton {
    width: 340px;        
    height: 60px;     
    background-color: #028643;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #ffffff;
}

#cartIcon {
    display: flex;
    align-items: center;
    gap:10px;
    padding-right: 25px;

}

#verticalLines {
    height: 60px;
    width: 100px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background-color: #028643;
    right:10px;
}

#downArrow {
    margin-left:19px;
    height: 40px;
    width: 40px;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 147px;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
}

#homeLink {
    height: 45px;
    width: 100px;
    border-radius: 25px;
    background-color: #FC8A06;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
}

#logo {
    height: 90px;
}

#logo img{
    height: 50px;
    margin-top: 15px;
}

#hamburger {
    display: none;
}

.navbarLinks {
    height: 90px;
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

#links {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
     
#user {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 55px;
    border-radius: 30px;
    gap: 25px;
    background-color: #03081F;
    border: none;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    padding-right: 17px;
}

#userLogo {
    height: 25px;
    width: 25px;
}


@media (max-width: 600px) {
    .topMostDiv {
        display: none;
    }

    #hamburger {
        display: flex;
        align-items: center;
        /* height: 60px; */
        width: 100px;
        /* background-color: #FC8A06; */
        justify-content: center;
        border-left: 1px solid #000000;
    }

    #hamburgerLogo {
        height: 60px;
        width: 60px;
    }

    #logo {
        padding: 10px;
    }

    .navbar {
        display: none;
    }

    .mobileNavbar {
        display: block;
        width: 100vw;
        /* background-color: aqua; */
    }

    .logoNUser {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
    }

    #user {
        display: flex;
        flex-direction: row;
        width: 50vw;
        height: 90px;
        border-radius: 0px;
        gap: 25px;
        background-color:#FC8A06;
        border: none;
        color: #ffffff;
        justify-content: center;
        align-items: center;
        padding-right: 17px;
    }

    .cartButton {
        width: 50vw;        
        height: 90px;     
        background-color: #028643;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        color: #ffffff;
    }

    #userNcartDiv {
        display: flex;
        justify-content: center

    }

    #checkRestro {
        width: 92vw;
        max-height: fit-content;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background-color: #03081F;
        margin: 4vw;
        border-radius: 10px;
    }

    #checkRestro span {
        color: #FC8A06;
        display: flex;
        justify-content: center;
    }

    #checkRestro h1 {
        margin: 25px 0px;
    }

    #checkRestro div {
        height: 70px;
        border-radius: 30px;
        background-color: #ffffff;
        width: 60vw;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        color: #4c4c4c;
        align-items: center;
        margin-top: 20px;
    }

    #checkRestro button {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #FC8A06;
        border: none;
        
    }

    #rightArrrow {
        height: 30px;
        width: 30px;
    }
}
