/* .orderDetailsNAddressDiv {

} */

.itemCard {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .itemImage {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    object-fit: cover;
    border-radius: 8px;
  }
  