*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainContainer {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBFBFB;
}


@media (max-width: 600px) {
    .mainContainer {
        font-family: "Poppins";
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FBFBFB;
    }


}
