.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* height: 50vh; */
    margin: 50px;
    width: 350px;
}

#checkLogo {
    height: 90px;
    width: 90px;
    color: #ffffff;
    position: absolute;
}

#checkLogoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: #218d06;
    color: #218d06;
    z-index: 1; 
    margin: 50px; 
  }
  
  #checkLogoDiv::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #218d06f6;
    border-radius: 50%;
    z-index: -1; /* Place it behind the logo */
    animation: spread 1.5s ease-out infinite;
  }

  #dialouge {
    text-align: center;
    color: #9e9e9e;
    margin: 10px;
  }

  .OrderSummary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .OrderSummary p {
    height: fit-content;
    text-align: center;
  }

  .mainDiv button {
    height: 30px;
    width: 300px;
    border-radius: 30px;
    background-color: #FC8A06;
    color: #ffffff;
    border: none;
    margin: 10px;
    cursor: pointer;
  }
  
  @keyframes spread {
    0% {
      width: 0;
      height: 0;
      opacity: 0.7;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }
  

@media (max-width: 600px) {
    #header {
        display: none;
    }
    
    #footer {
        display: none;
    }

    .parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}