body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.parentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restroInfo {
  position: relative;
  background-image: url('https://images.pexels.com/photos/572981/pexels-photo-572981.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px; /* Adjust the height as needed */
  width: 90vw;
  background-color: #03081FE5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.restroInfo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 49, 84, 0.82); /* Add your desired color with opacity */
  z-index: 0; 
  border-radius: 10px;
}

.restroInfo > * {
  position: relative; /* Make sure child elements stay on top of the overlay */
  z-index: 1; /* This ensures the content stays above the overlay */
}

.rrd {
  background-image: url('https://images.pexels.com/photos/5745991/pexels-photo-5745991.jpeg?auto=compress&cs=tinysrgb&w=600');
  height: 250px;
  width: 350px;
  border-radius: 10px;
}

.rld {
  width: 450px;
  height: 250px;
  background-color: transparent;
  padding-top: 70px;
  /* padding-left: 30px; */
  color: #ffffff;
}

.resturentName {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
}

.patch h4 {
  height: 40px;
  width: 250px;
  background-color: transparent;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #ffffff;
  margin-top: 10px;
}

.patch span {
  padding-right: 10px;
}

.rating {
  position: relative;
  top: 169px;
  right: 35px;
}

.rating img {
  height: 90px;
}

.notify {
  position: relative;
  height: 40px;
  width: 250px;
  background-color: #FC8A06;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 10px;
  bottom: 40px;
}

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
}

.search {
    height: 40px;
    width: 220px;
    border: 1px solid #03081F;
    border-radius: 30px;
    padding-left: 10px;
}

.searchIcon {
    margin-bottom: -4px;
    cursor: pointer;
}

.search input {
    border: none;
    outline: none;
    height: 37px;
    margin-left: 10px;
    border-radius: 30px;
    padding-left: 3px;
}

.header {
  height: 90px;
  width: 100vw;
  background-color: #FC8A06;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5vw;
  color: #ffffff;
  margin: 40px 0px;
}

#selectedlink {
  height: 30px;
  width: 90px;
  background-color: #000000;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
}

.card {
    display: flex;
    flex-direction: row;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    height: 200px;
    width: 400px;
    background-color: #FDFDFD;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  
  
  .itemList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 12px;
    height: 80px;
    /* background-color: bisque; */
    margin-top: 10px;

  }
  
  
  .price {
    font-weight: bold;
  }
  
  .image {
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 10px;
    display: block;
    z-index: 0;
    left: 77px;
    /* object-fit: cover; */

  }

  .addButton {
    position: relative;
    height: 70px;
    width: 76px;
    background-color: #ffffffE6;
    left: 15px;
    bottom: -116px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border: none;
    /* z-index: 1; */
}

.addButtonDiv {
    position: relative;
    z-index: 1;
}

.plusIcon {
    height: 30px;
    width: 30px;
}

.cardAlign {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 43px calc((100vw - 90vw) / 2);
}

/* .basketContainer {
  width: 300px;
  height: 100vh;
  background-color: aqua;
} */

.productDiv {
  width: auto;
}

.productNbasketDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.basketContainer {
  width: 350px;
  max-height:fit-content;
  background-color: aqua;
  padding: 20px;
  border-radius: 8px;
  margin-right: 5vw;
  transition: transform 1s ease-in-out;
}


